<div class="h-auto w-full rounded-lg max-w-sm max-h-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <NavLink href="@($"/category/{uri}")">
        <img class="rounded-t-lg object-cover" src="@imgURL" alt="" />
        <div class="p-5">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-center text-gray-900 dark:text-white">@categoryName
            </h5>
            <p class="mb-3 font-normal text-gray-700 text-center dark:text-gray-400">@categoryDescription</p>
        </div>
    </NavLink>
</div>




@code {
    [Parameter]
    public string imgURL { get; set; } = "";
    [Parameter]
    public string categoryName { get; set; } = "";
    [Parameter]
    public string categoryDescription { get; set; } = "";
    [Parameter]
    public string uri { get; set; } = "";
}
