<div class="hidden ease-in-out" data-carousel-item>
    <img src="@ImgURL"
        class="absolute object-contain object-center block w-full h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 cover"
        alt="...">
</div>

@code {
    [Parameter]
    public string ImgURL { get; set; }
}