@inject HttpClient Http
@inject NavigationManager nav
@inject ListService ListService;
@inject NavigationManager nav

<main class="flex flex-col justify-center">
    <article class="max-h-lg grid grid-cols-2 md:grid-cols-4 gap-4 items-center justify-items-center">
		@foreach(var product in listProducts)
		{
			<ProductCard product="product" showPrice="true" fromLater="true" />
		}
	</article>
</main>


@code {
	private List<ProductDTO> listProducts = new List<ProductDTO>();

	protected override async void OnInitialized()
	{
		listProducts = await ListService.GetLaterListProducts() ?? new List<ProductDTO>();
		StateHasChanged();
	}
}