@inject NavigationManager nav

<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" @onclick="HandleClick">
    <td class="p-4">
        <img src="@imgURL" class="w-16 md:w-32 max-w-full max-h-full" alt="@product.Name">
    </td>
    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
        @product.Name
    </td>
    <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
        @product.Price€
    </td>
</tr>

@code {
    [Parameter]
    public Product product { get; set; } = new Product();

    [Parameter]
    public string imgURL { get; set; } = "";

    private void HandleClick()
    {
        nav.NavigateTo($"/product/{product.Product_code}");
    }
}