@page "/delivery"
@using Microsoft.AspNetCore.Components.Forms
@inject NavigationManager Navigation

<section class="bg-gray-50 dark:bg-gray-900 flex-col">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            Smart Trade
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Datos de Envío
                </h1>
                <EditForm Model="@deliveryData" OnValidSubmit="@HandleValidSubmit" class="space-y-4 md:space-y-6">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div>
                        <label for="street" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Calle</label>
                        <InputText id="street" @bind-Value="deliveryData.Street" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    </div>
                    <div>
                        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Población</label>
                        <InputText id="city" @bind-Value="deliveryData.City" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    </div>
                    <div>
                        <label for="cardNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Número de Tarjeta</label>
                        <InputText id="cardNumber" @bind-Value="deliveryData.CardNumber" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    </div>
                    <div>
                        <label for="expirationDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Expiración</label>
                        <InputText id="expirationDate" @bind-Value="deliveryData.ExpirationDate" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    </div>
                    <div>
                        <label for="cvv" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CVV</label>
                        <InputText id="cvv" @bind-Value="deliveryData.CVV" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    </div>

                    <button type="submit" class="w-full text-white bg-gray-600 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-auto sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Enviar</button>
                </EditForm>
            </div>
        </div>
    </div>
</section>

@code {
    private DeliveryData deliveryData = new DeliveryData();

    private void HandleValidSubmit()
    {
        var queryParams = new Dictionary<string, object>
        {
            { "Street", deliveryData.Street },
            { "City", deliveryData.City },
            { "CardNumber", deliveryData.CardNumber },
            { "ExpirationDate", deliveryData.ExpirationDate },
            { "CVV", deliveryData.CVV }
        };

        Navigation.NavigateTo(Navigation.GetUriWithQueryParameters("/summary", queryParams));
    }

    public class DeliveryData
    {
        public string Street { get; set; }
        public string City { get; set; }
        public string CardNumber { get; set; }
        public string ExpirationDate { get; set; }
        public string CVV { get; set; }
    }
}