@page "/details"
@using Backend.Models

<PageTitle>Detalles del pedido</PageTitle>

<div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 grid-cols-2 bg-white dark:bg-gray-800">
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Dirección de envio</h3>
            <ul class="grid w-full gap-6 md:grid-cols-1">
                <li>
                    <input type="checkbox" id="react-option" value="" class="hidden peer" required="">
                    <label for="react-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 active:ring-2 active:ring-blue-600">
                        <div class="block">
                            <div class="w-full text-lg font-semibold">València</div>
                            <div class="w-full text-sm">C/Santa Cruz de la Zarza</div>
                        </div>
                    </label>
                </li>
            </ul>
        </blockquote>
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Método de pago</h3>
            <ul class="grid w-full gap-6 md:grid-cols-1">
                <li>
                    <input type="checkbox" id="react-option" value="" class="hidden peer" required="">
                    <label for="react-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="block">
                            <div class="w-full text-lg font-semibold">Visa</div>
                            <div class="w-full text-sm">Terminada en 2050</div>
                        </div>
                    </label>
                </li>
            </ul>
        </blockquote>
    </figure>
    
    <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-t border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Precio</h3>
            <p class="my-4">-Productos: 600$</p>
            <p class="my-4">-Envio: 5$</p>
        </blockquote>
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Precio total:</h3>
            <p class="my-4">250$"</p>
        </blockquote>
    </figure>
    
</div>






