@page "/fetchdata"
@using SmartTrade.Models

<PageTitle>Weather forecast</PageTitle>

<h1 class="text-3xl text-gray-700 dark:text-gray-400">Weather forecast</h1>

<p class="text-m text-gray-700 dark:text-gray-400">This component demonstrates fetching data from the server.</p>

<Table />
