@page "/logIn"
@using SmartTrade.Models

<PageTitle>Inicio de Sesión</PageTitle>

<h1 class="text-3xl text-gray-700 dark:text-gray-400">Inicio de Sesión</h1>

<p class="text-m text-gray-700 dark:text-gray-400">Introduzca su correo y su contraseña.</p>

<TextBox />
