@page "/logIn"
@using SmartTrade.Models

<PageTitle>Inicio de Sesión</PageTitle>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #f1f1f1;">
    <div style="width: 400px; background-color: #fff; border-radius: 8px; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="font-size: 20px; font-weight: bold; color: #202124; margin-bottom: 20px;">Inicio de Sesión</h1>
        <p style="font-size: 14px; color: #757575; margin-bottom: 30px;">Introduzca su correo y su contraseña.</p>
        <TextBox />
    </div>
</div>
