@inherits LayoutComponentBase
@inject IJSRuntime Js

<div class="page dark:bg-gray-800">
    <div>
        <NavMenu />
    </div>

    <main class="p-4 sm:ml-64">
        <article>
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            await Js.InvokeVoidAsync("window.initializeFlowbite");
        }
    }
}